%html
  %head
    %title Search
    %style 
      body {width:42em;margin:4em auto;}
  %body
    %form
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      #results
        - @docs.each do |doc|
          %div.result
            %p.title= 'Title: ' + doc['title_ss']
            %p.section= 'Section: ' + doc['section_ss']
            %p.house= 'House: ' + doc['house_ss']
            %p.chair= 'Chair: ' + doc['chair_ss']
            %p.subject= 'Subject: ' + doc['subject_ss']
            %p.url= 'URL: ' + doc['url_ss']
            %ul.members
              - doc['members_texts'].each do |member|
                %li.member= member
