%html
  %head
    %title Search
    %style 
      body {width:42em;margin:4em auto;}
  %body
    %form
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      #results
        - if @section_filter
          %b
            Showing results from #{@section_filter}
        - else
          - if @section_facets and @section_facets.length > 1
            %ul.sections
            - @section_facets.each do |section|
              %li
                %a{:href => "?q=#{params[:q]}&section=#{section[:name]}"}= "#{section[:name]} (#{section[:count]})"
               
        - @docs.each do |doc|
          %div.result
            %p.title= 'Title: ' + doc['title_ss']
            %p.section= 'Section: ' + doc['section_ss']
            %p.house= 'House: ' + doc['house_ss']
            - if doc['chair_ss']
              %p.chair= 'Chair: ' + doc['chair_ss']
            %p.subject= 'Subject: ' + doc['subject_ss']
            - url = URI.parse(doc['url_ss'])
            %p.url.host= 'Host: ' + url.host
            %p.url.path= 'Path: ' + url.path
            %p.url.fragment= 'Fragment: ' + url.fragment
            %ul.members
              - doc['members_texts'].each do |member|
                %li.member= member
