!!! 5
%html
  %head
    %title 
      - unless @q
        Hansard Search
      - else
        = @q + ' (Hansard Search)'
    - if @request.user_agent =~ /iPhone|iPad/
      %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
      %link{:rel=>"stylesheet", :href=>"http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css"}
      %script{:type=>"text/javascript", :src=>"http://code.jquery.com/jquery-1.6.4.min.js"}
      %script
        $(document).bind("mobileinit", function(){$.mobile.touchOverflowEnabled = true;});
      %script{:type=>"text/javascript", :src=>"http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"}
    - else
      %style
        body{width:40em;margin:4em auto;font-family:Helvetica,sans-serif}
        div.result{padding:0.9em 0}
        div.result big{display:block}
        div.result span.breadcrumbs{display:block;color:green;padding-bottom:0.1em}
        div.result span.breadcrumbs a{color:green;text-decoration:none}
        div.result span.breadcrumbs a:hover{text-decoration:underline}
        div.result span.text{line-height:1.25em}
        div.result span.text em{font-weight:bold;font-style:normal}
        div.result span.citation{font-size:0.9em;display:block;color:gray;padding:0.1em 0}
        div.result span.contributors{font-size:0.9em;display:block;color:gray;padding:0.1em 0}
        nav{float:right}
        ul#facets {padding-left:0}
        ul#facets li{list-style-type:none;text-indent:0}
        li.facet-active{border-left:4pt solid crimson;color:crimson;padding:0.5em 1em;}
        li.facet-inactive{border-left:4pt solid #fff;text-decoration:none;color:#000;padding:0.5em 1em}
        li.facet-inactive a{color:#000;text-decoration:none}
        li.facet-inactive:hover{background-color:#eee;border-left:4pt solid #eee;}
        li.facet-active:hover{background-color:#eee;}
  %body
    %div{:data => {:role=>'page', :theme=>'d'}}
      %header{:data => {:role=>'header', :theme=>'d'}}
        %nav
          %a{:href=>"/"} HansardSearch
        %form{:action=>'/', :method=>'get'}
          %div{:data => {:role=>'fieldcontain'}}
            %label{:for=>"search"} Search Hansard
            %input{:name => 'q', :id => 'search', :type => 'search', :value => @q, :placeholder=>"Search"}
      %section{:data => {:role=>'content', :theme=>'d'}}
        - if @q
          
          - if @section_filter
            %ul#facets
              %li.facet-inactive
                %a{:href => "?q=#{params[:q]}"}
                  All Hansard content
              %li.facet-active
                = @section_filter
            
          - if @section_facets and @section_facets.length > 1
            %ul#facets
              %li.facet-active
                All Hansard content
              - @section_facets.each do |section|
                %li.facet-inactive
                  %a{:href => "?q=#{params[:q]}&section=#{section[:name]}",
                     :title => "#{section[:name]} items"}= section[:name]
          - @results.each do |result|
            %div.result
              %big.title
                %a{:href => result['url_ss'], :title => result['url_ss']}
                  = prepare_title(result['subject_ss'], @q)
              %span.breadcrumbs= url_segments_line(result['house_ss'], result['section_ss'], result['published_at_ds'], result['url_ss'], result['department_ss'])
              %span.citation
                = 'H' + result['house_ss'][0,1] + ' Deb vol ' + result['volume_ss']
                - if result['columns_ss'] =~ /to/
                  = ' cc' << result['columns_ss']
                - else
                  = ' c' << result['columns_ss']
                = ' (Part ' + result['part_ss'] + ')' if result['part_ss']
                = ' - Question: ' + result['question_ss'] if result['question_ss']
                = ' - Chair: ' + result['chair_ss'] if result['chair_ss']
              %span.text
                = top_and_tail @highlights[result['id']]
              %span.contributors
                = prepare_contributors(result['members_texts'])
                
              
                      
        %footer{:data => {:role=>'footer', :theme=>'d'}} 
          - if @q
            %p=haml :_pagination      
          %center &copy; UK Parliament     
          