%html
  %head
    %title 
      - unless @q
        Hansard Search
      - else
        = @q + ' (Hansard Search)'
    %style 
      body {width:42em;margin-left:10em;margin-top:4em;margin-bottom:4em;font-family:Helvetica,sans-serif;}
      div.result {padding:0.75em 0;line-height:140%;}
      div.result .section {color:gray;}
      div.result .chair {color:gray;}
      div.result .ref {color:gray;}
      div.result .subject {display:block;}
      div.result blockquote.text {margin:0;}
      div.result .nav {color:green;display:block;}
      blockquote.text em {font-weight:bold;font-style:normal;}
  %body
    %form
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      #results
        - if @found > 10
          = "Showing #{page_info} of #{@found} results"
        - if @section_filter
          %b
            Showing results from #{@section_filter}
        - else
          - if @section_facets and @section_facets.length > 1
            %ul.sections
              - @section_facets.each do |section|
                %li.section
                  %a{:href => "?q=#{params[:q]}&section=#{section[:name]}"}= "#{section[:name]} &mdash; #{section[:count]}"
        - @docs.each do |doc|
          .result
            %span.subject
              %a{:href => doc['url_ss'], :title => doc['url_ss']}
                = doc['subject_ss']
            %span.nav= doc['house_ss'] + ' Hansard &rsaquo; ' + doc['published_at_ds'] + ' &rsaquo; ' + doc['section_ss']
            %span.ref
              %span.house= "H" + doc['house_ss'][0,1] + " Deb vol " + doc['volume_ss']
              - if doc['columns_ss']
                =' cc' + doc['columns_ss']
              - if doc['part_ss']
                =' (Part ' + doc['part_ss'] + ')'
            - if doc['chair_ss']
              %span.chair= ' - Chair: ' + doc['chair_ss']
            
            %blockquote.text
              = @highlights[doc['id']]['text_texts'].to_s + ' ...'           
            - if doc['members_text']
              %ul.members
                - doc['members_texts'].each do |member|
                  %li.member= member
                
    - if @q
      =haml :_pagination