%html
  %head
    %title Search
    %style 
      body {width:42em;margin:4em auto;}
      div.result {border:1pt solid gray;padding:1em 2em;margin:1em 0;box-shadow: 0.3em 0.3em #CCC;}
      div.result p.title {font-weight:bold;}
      div.result p.url {font-size:small;}
  %body
    %form
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      #results
        ="Showing #{page_info} of #{@found} results for <b>#{h(@q)}</b>"
        - if @section_filter
          %b
            Showing results from #{@section_filter}
        - else
          - if @section_facets and @section_facets.length > 1
            %ul.sections
            - @section_facets.each do |section|
              %li
                %a{:href => "?q=#{params[:q]}&section=#{section[:name]}"}= "#{section[:name]} (#{section[:count]})"
               
        - @docs.each do |doc|
          .result
            %p.title= doc['title_ss']
            %p.url= doc['url_ss']
            %p.section= 'Section: ' + doc['section_ss']
            %p.house= 'House: ' + doc['house_ss']
            - if doc['chair_ss']
              %p.chair= 'Chair: ' + doc['chair_ss']
            %p.ref
              ='Fragment ref: vol ' + doc['volume_ss']
              - if doc['columns_ss']
                =' cc' + doc['columns_ss']
              -if doc['part_ss']
                =' (Part ' + doc['part_ss'] + ')'
            %ul.members
              - doc['members_texts'].each do |member|
                %li.member= member
