%html
  %head
    %title 
      - unless @q
        Hansard Search
      - else
        = @q + ' (Hansard Search)'
    %style 
      body {width:38em;margin-left:8em;margin-top:4em;margin-bottom:4em;font-family:Helvetica,sans-serif;}
      div.result {padding:0.75em 0;line-height:140%;}
      div.result .chair {color:#666;}
      div.result .ref {color:#666;}
      div.result .subject {display:block;}
      div.result blockquote.text {margin:0;}
      div.result .nav {color:green;font-style:normal;font-size:0.9em;display:block}
      div.result .nav a,
      div.result .nav a:visited {color:green;text-decoration:none}
      div.result .nav a:hover {text-decoration:underline}
      blockquote.text em {font-weight:bold;font-style:normal;}
      div#showing-only {background-color: #ebeff9;padding: 0.75em 0.5em;}
      a.remove-facet {float:right;}
      center#pagination {padding-top: 1em;}
      center#pagination .results {padding: 1em;color:gray;}
  %body
    %form#search
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      #results
        - if @section_filter
          #showing-only
            Showing only <strong>results from #{@section_filter}</strong>.
            %a.remove-facet{:href => "?q=#{params[:q]}"}
              Show all
        - if @section_facets and @section_facets.length > 1
          #show-only Show only:
          %ul.facets
            - @section_facets.each do |section|
              %li.facet
                %a{:href => "?q=#{params[:q]}&section=#{section[:name]}"}= "#{section[:name]} &mdash; #{section[:count]}"
        - @docs.each do |doc|
          .result
            %span.subject
              %a{:href => doc['url_ss'], :title => doc['url_ss']}
                = doc['subject_ss']
            %span.nav= url_segments_line(doc['house_ss'], doc['section_ss'], doc['published_at_ds'], doc['url_ss'])
            %span.ref
              = "H" + doc['house_ss'][0,1] + " Deb vol " + doc['volume_ss']
              - if doc['columns_ss']
                =' cc' + doc['columns_ss']
              - if doc['part_ss']
                =' (Part ' + doc['part_ss'] + ')'
            - if doc['chair_ss']
              %span.chair= ' - Chair: ' + doc['chair_ss']
            
            %blockquote.text
              = top_and_tail(@highlights[doc['id']]['text_texts'].to_s.strip)               
            - if doc['members_text']
              %ul.members
                - doc['members_texts'].each do |member|
                  %li.member= member
                
    - if @q
      =haml :_pagination