%html
  %head
    %title 
      - unless @q
        Hansard Search
      - else
        = @q + ' (Hansard Search)'
    %link{:rel=>"stylesheet", :href=>"http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
    %style
      html,body{background-color:#eee}
      body{padding-top:40px}
      div.container > footer p{text-align:center}
      div.container{width:820px}
      div.container > .content{background-color:#fff;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);-moz-box-shadow:0 1px 2px rgba(0,0,0,.15);box-shadow:0 1px 2px rgba(0,0,0,.15);margin:0 -20px;padding:20px}
      div.page-header{background-color:#f5f5f5;margin:-20px -20px 20px;padding:20px 20px 10px}
      div.content .span10,.content div.span4{min-height:500px}
      div.content div.span4{margin-left:0;padding-left:19px;xborder-left:1px solid #eee}
      div.topbar .btn{border:0}
  %body
    .topbar
      .fill
        .container
          %a.brand{:href=>"/"} HansardSearch
          %ul.nav
            %li.active
              %a{:href=>"/"}Home
            %li
              %a{:href=>"#about"}About
            %li
              %a{:href=>"#contact"}Contact
    .container
      .content
        .page-header
          %form
            %input.span5{:type=>"search", :name => 'q', :value => @q, :placeholder=>"Search"}
            %button.btn.primary{:type=>'submit'} Search
            %span.help-inline Words appearing in Hansard text
        .row
          .span10
            - if @q
              #results
                - @results.each do |result|
                  .result
                    %h4
                      %a{:href => result['url_ss'], :title => result['url_ss']}
                        = highlight(result['subject_ss'], @q)
                      - if result['chair_ss']
                        %small= ' Chair: ' + result['chair_ss']  
                    %span= url_segments_line(result['house_ss'], result['section_ss'], result['published_at_ds'], result['url_ss'])
                    
                    %blockquote
                      %p= top_and_tail @highlights[result['id']]
                      %small
                        = "H" + result['house_ss'][0,1] + " Deb vol " + result['volume_ss']
                        - if result['columns_ss']
                          =' cc' + result['columns_ss']
                        - if result['part_ss']
                          =' (Part ' + result['part_ss'] + ')' 
                        
                    

                               
          .span4
            - if @section_filter
              #showing-only
                Showing only results from <strong>#{@section_filter}</strong>
                %a#remove-facet{:href => "?q=#{params[:q]}"}
                  Show all
            - if @section_facets and @section_facets.length > 1
              %ul
                %li All Hansard content
                - @section_facets.each do |section|
                  %li
                    %a{:href => "?q=#{params[:q]}&section=#{section[:name]}", :title => "#{section[:name]} items"}= section[:name]     
      %footer            
      - if @q
        %p=haml :_pagination