!!! 5
%html
  %head
    %title 
      - unless @q
        Hansard Search
      - else
        = @q + ' (Hansard Search)'
    %style
      body{width:42em;margin:2em auto;font-family:Helvetica,sans-serif}
      div.result{padding:1em 0}
      div.result big{display:block}
      div.result span.breadcrumbs{display:block;color:green}
      div.result span.breadcrumbs a{color:green;text-decoration:none}
      div.result span.breadcrumbs a:hover{text-decoration:underline}
      div.result span.text em{font-weight:bold;font-style:normal}
      div.result span.citation{font-size:0.9em;display:block;color:gray}
      
  %body
    %header
      %nav
        %a{:href=>"/"} HansardSearch
      %form
        %input{:name => 'q', :value => @q, :placeholder=>"Search"}
        %button{:type=>'submit'} Search
    %section
      - if @q
        - if @section_filter
          #showing-only
            Showing only results from <strong>#{@section_filter}</strong>
            %a{:href => "?q=#{params[:q]}"}
              Show all
        - if @section_facets and @section_facets.length > 1
          %ul
            %li All Hansard content
            - @section_facets.each do |section|
              %li
                %a{:href => "?q=#{params[:q]}&section=#{section[:name]}",
                   :title => "#{section[:name]} items"}= section[:name]
        - @results.each do |result|
          %div.result
            %big.title
              %a{:href => result['url_ss'], :title => result['url_ss']}
                = highlight(result['subject_ss'], @q)
            %span.breadcrumbs= url_segments_line(result['house_ss'], result['section_ss'], result['published_at_ds'], result['url_ss'], result['department_ss'])
            %span.text
              = top_and_tail @highlights[result['id']]
              /= result['text_texts']
              /expand above with more tag
              - if result['question_ss']
                %span.question-uin= "[#{result['question_ss']}]"
                /should only appear is quin not in text
            %span.citation
              = "H" + result['house_ss'][0,1] + " Deb vol " + result['volume_ss']
              - if result['columns_ss']
                =' cc' + result['columns_ss']
              - if result['part_ss']
                =' (Part ' + result['part_ss'] + ')' 
              - if result['chair_ss']
                = ' Chair: ' + result['chair_ss']
                

               
      %footer       
        %p &copy; UK Parliament     
      - if @q
        %p=haml :_pagination