%html
  %head
    %title Search
    %style 
      body {width:42em;margin:6em auto;font-family:Helvetica,sans-serif;}
      div.result {padding-top:0.5em;line-height:1.24;}
      div.result .section {color:gray;}
      div.result .chair {color:gray;}
      div.result .ref {color:gray;}
      div.result .subject {display:block;text-decoration:none;}
      div.result blockquote.text {margin:0;}
      div.result .url {color:green;display:block;}
      blockquote.text em {font-weight:bold;font-style:normal;}
  %body
    %form
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      #results
        - if @found > 10
          = "Showing #{page_info} of #{@found} results"
        - if @section_filter
          %b
            Showing results from #{@section_filter}
        - else
          - if @section_facets and @section_facets.length > 1
            %ul.sections
              - @section_facets.each do |section|
                %li.section
                  %a{:href => "?q=#{params[:q]}&section=#{section[:name]}"}= "#{section[:name]} &mdash; #{section[:count]}"
        - @docs.each do |doc|
          .result
            %span.subject
              %a{:href => doc['url_ss'], :title => doc['url_ss']}
                = doc['subject_ss']
            %span.url=doc['url_ss']
            %span.section= doc['section_ss']
            - if doc['chair_ss']
              %span.chair= '- Chair: ' + doc['chair_ss']
            %span.ref
              %span.house= "- H" + doc['house_ss'][0,1] + " Deb vol " + doc['volume_ss']
              - if doc['columns_ss']
                =' cc' + doc['columns_ss']
              - if doc['part_ss']
                =' (Part ' + doc['part_ss'] + ')'
            
            %blockquote.text
              &hellip;
              = @highlights[doc['id']]['text_texts'].join(" &hellip; ")
              &hellip;
            
            %ul.members
              - doc['members_texts'].each do |member|
                %li.member= member
                
    - if @q
      =haml :_pagination